{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [{
    "files": ["Option.ts"],
    "rules": {
      "@typescript-eslint/no-use-before-define": "off"
    }
  }]
}